// -----------------------------
// BUTTONS
// -----------------------------

button,
[class*="btn-"] {
    display: block;
    font-family: $roboto;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    padding-top:0;
    padding-right: 14px;
    padding-bottom: 0;
    padding-left: 14px;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    @include transition(all 0.3s);
    &:hover,
    &:focus {
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
    &::before {
        margin-right: 8px;
        font-size: 14px;
    }
    &[disabled] {
        opacity: 0.3;
        @include box-shadow(0,0,0,transparent);
        &:hover,
        &:focus {
            cursor: not-allowed;
            text-decoration: none;
        }
    }
    &.icon-right {
        &::before {
            float: right;
            margin-top: 10px;
            margin-right: 0;
            margin-left: 8px;
        }
    }
    &.no-margin::before {
        margin: 0 !important;
    }
    &.no-padding::before {
        padding: 0 !important;
    }
}

.btn-standard {
    color: $neutral-500;
    background-color: $neutral-40;
    &:hover,
    &:focus {
        background-color: $neutral-50;
    }
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $neutral-40;
    }
}

.btn-compact {
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    color: $neutral-500;
    background-color: $neutral-40;
    &:hover {
        background-color: $neutral-50;
    }
    &:focus {
        background-color: $neutral-60;
    }
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $neutral-40;
    }
}

.btn-primary {
    background-color: $primary-purple;
    color: $primary-medical;
    @include box-shadow(0, 4px, 6px, rgba(0,0,0,0.15));
    &:hover {
        background-color: $purple-400;
    }
    &:focus {
        background-color: $purple-500;
    }
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $primary-purple
    }
}

.btn-outline {
    background-color: $primary-medical;
    color: $neutral-500;
    border: 2px solid $neutral-500;
    vertical-align: top;
    line-height: 28px;
    &:hover,
    &:focus {
        color: $primary-medical;
    }
    &:hover {
        border: 2px solid $neutral-500;
        background-color: $neutral-500;
    }
    &:focus {
        border: 2px solid $neutral-600;
        background-color: $neutral-600;
    }
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $primary-medical;
        color: $neutral-500;
    }
}

.btn-clear {
    color: $primary-purple;
    &:hover, 
    &:focus {
        outline: none;
        color: $purple-400;
        text-decoration: underline;
    }
}

.btn-icon {
    color: $neutral-500;
    background-color: $neutral-40;
    &::before {
        margin: 0;
    }
    &:hover,
    &:focus {
        background-color: $neutral-50;
    }
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $neutral-40;
    }
}