// -----------------------------
// COLORS
// -----------------------------

// Primary
$primary-purple: #8862A8;
$primary-squid: #273246;
$primary-medical: #FFFFFF;

// Secondary
$secondary-jade: #407F7F;
$secondary-bay: #0065FF;
$secondary-tamarindo: #00B8D9;
$secondary-kale: #36B37E;
$secondary-golden: #FFAB00;
$secondary-poppy: #FF5630;

// Neutral
$neutral-0: #FFFFFF;
$neutral-10: #FBFBFB;
$neutral-20: #F0F2F6;
$neutral-30: #f0f2f6;
$neutral-40: #E7E9EE;
$neutral-50: #DADFE6;
$neutral-60: #CFD5DF;
$neutral-70: #BBC3D1;
$neutral-80: #AAB4C5;
$neutral-90: #9CA8BB;
$neutral-100: #8C9AB1;
$neutral-200: #7888A3;
$neutral-300: #607293;
$neutral-400: #485C7F;
$neutral-500: #3D4E6C;
$neutral-600: #324059;
$neutral-700: #2E3B53;
$neutral-800: #273246;
$neutral-900: #1C2433;


// Reds
$red-50: #FFEBE5;
$red-75: #FFBDAD;
$red-100: #FF8F73;
$red-200: #FF7452;
$red-300: #FF5630;
$red-400: #DE350B;
$red-500: #BF2600;

// Yellows
$yellow-50: #FFFAE5;
$yellow-75: #FFF0B2;
$yellow-100: #FFE380;
$yellow-200: #FFC400;
$yellow-300: #FFAB00;
$yellow-400: #FF991F;
$yellow-500: #FF8B00;

// Greens
$green-50: #E3FCEF;
$green-75: #ABF5D1;
$green-100: #79F2C0;
$green-200: #57D9A3;
$green-300: #36B37E;
$green-400: #00875A;
$green-500: #006644;

// Turquoise
$tourquoise-50: #E6FCFF;
$tourquoise-75: #B3F5FF;
$tourquoise-100: #79E2F2;
$tourquoise-200: #00C7E5;
$tourquoise-300: #00B8D9;
$tourquoise-400: #00A3BF;
$tourquoise-500: #008DA6;

// Blues
$blue-50: #DEEBFF;
$blue-75: #B2D4FF;
$blue-100: #4C9AFF;
$blue-200: #2684FF;
$blue-300: #0065FF;
$blue-400: #0052CC;
$blue-500: #0747A6;

// Purples
$purple-50: #F3F0F5;
$purple-75: #DBCDE7;
$purple-100: #C3ACD8;
$purple-200: #A07FBC;
$purple-300: #8862A8;
$purple-400: #744D95;
$purple-500: #5B367A;