@import './colors';
@import './_mixins';

// -----------------------------
// TEXT
// -----------------------------
$roboto: "Roboto", Arial, Helvetica, sans-serif;
$moon-icons: "IcoMoon";
$font-awesome: "FontAwesome";
$text-color-default: $neutral-900;